{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grameen Media</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div>

    <h1>Grameen Media</h1>

    <form action="{% url 'docx' %}" method="post" id="form">
        {% csrf_token %}
        <input type="text" name="bill_no" placeholder="Enter Bill Number" id="bill_no">
        <input type="text" name="brand" placeholder="Brand" id="brand">
        <input type="text" name="showroom" placeholder="Showroom" id="showroom">
        <input type="text" name="address" placeholder="Address" id="address">
        <input type="text" name="mobile" placeholder="Mobile" id="mobile">
        <textarea type="text" name="board" placeholder="Specification of Boards" id="board"></textarea>
        <input type="submit" name="submit" value="Submit" id="btn">
    </form>
        
    </div>

    <script>
        const inputs = document.querySelectorAll('#form input, #form textarea');

        inputs.forEach((input, index)=>{
            input.addEventListener('keydown', function(event){
                if (event.key === 'Enter'){
                    
                    if (input.tagName.toLowerCase() === 'textarea'){
                        return;
                    }

                    event.preventDefault();

                    const nextInput = inputs[index + 1];

                    if (nextInput){
                        nextInput.focus();
                    }
                }

                if (event.altKey){
                    event.preventDefault();
                    form.submit();
                }
                  
            })
               
        })


    </script>
   

</body>
</html>